.styled-card {
  background: linear-gradient(135deg,#c8e1f8 100%, #c5d1f8 100%);
  color: #000000;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  height: 100%; /* Asegura que todas las tarjetas tengan la misma altura */
}


.card-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.icon {
  width: 64px; /* Iconos más grandes */
  height: 64px; /* Iconos más grandes */
  margin-right: 16px; /* Espacio entre la imagen y el texto */
}

.text-content {
  flex: 1; /* El texto ocupa el espacio restante */
}

.number-typography {
  font-size: 2rem; /* Tamaño grande para el número */
  font-weight: bold;
}

.title-typography {
  font-size: 1.2rem; /* Tamaño más pequeño para el título */
  font-weight: normal;
  opacity: 0.9;
}
