.loading-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que esté sobre otros elementos */
  }
  
  .loading-spinner {
    background: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5em;
    color: black;
  }
  #loading{
    position: fixed;
    width: 100px;
    height: 100px;
   
    top: 45%;
    left: 45%;
    /* Fondo semitransparente */
    z-index: 9999; /* Asegura que esté sobre otros elementos */
  }